
Configs/Default/AmazonFire/icons/banner.png
Configs/Default/AmazonFire/icons/icon_hdpi.png
Configs/Default/AmazonFire/icons/icon_ldpi.png
Configs/Default/AmazonFire/icons/icon_mdpi.png
Configs/Default/AmazonFire/icons/icon_xhdpi.png
Configs/Default/AmazonFire/icons/icon_xxhdpi.png
Configs/Default/AmazonFire/icons/icon_xxxhdpi.png
Configs/Default/AmazonFire/icons/ouyaIcon.png
Configs/Default/AmazonFire/portrait_splash.png
Configs/Default/AmazonFire/splash.png
Configs/Default/AndroidTV/icons/banner.png
Configs/Default/AndroidTV/icons/icon_hdpi.png
Configs/Default/AndroidTV/icons/icon_ldpi.png
Configs/Default/AndroidTV/icons/icon_mdpi.png
Configs/Default/AndroidTV/icons/icon_xhdpi.png
Configs/Default/AndroidTV/icons/icon_xxhdpi.png
Configs/Default/AndroidTV/icons/icon_xxxhdpi.png
Configs/Default/AndroidTV/icons/ouyaIcon.png
Configs/Default/AndroidTV/splash.png
Configs/Default/tvos/icons/icon1280.png
Configs/Default/tvos/icons/icon400.png
Configs/Default/tvos/splash.png
